name: Frontend CI

on:
  workflow_dispatch:
  push:
    branches:
      - actions/*
      - develop
    paths:
      - "frontend/**"
  pull_request:
    branches:
      - develop
      - main
    paths:
      - "frontend/**"

permissions:
  contents: read

jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
          cache-dependency-path: frontend/pnpm-lock.yaml
      - name: Enable Corepack and install pnpm
        run: |
          corepack enable
          corepack prepare pnpm@latest --activate
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run ESLint & Build project
        run: pnpm run build
